*.lo
*.o
*.la

autom4te.cache
configure
include/builddefs
include/config.h
include/config.h.in
lib/.libs

dmapi/Makefile
dmapi/config.log
dmapi/config.status
dmapi/libtool
dmapi/src/Makefile
dmapi/src/common/Makefile
dmapi/src/common/cmd/.deps
dmapi/src/common/cmd/Makefile
dmapi/src/common/lib/.deps
dmapi/src/common/lib/Makefile
dmapi/src/sample_hsm/.deps
dmapi/src/sample_hsm/Makefile
dmapi/src/simple/.deps
dmapi/src/simple/Makefile
dmapi/src/suite1/Makefile
dmapi/src/suite1/cmd/.deps
dmapi/src/suite1/cmd/Makefile
dmapi/src/suite2/Makefile
dmapi/src/suite2/src/.deps
dmapi/src/suite2/src/Makefile

ltp/aio-stress
ltp/doio
ltp/fsstress
ltp/fsx
ltp/growfiles
ltp/iogen

src/alloc
src/append_reader
src/append_writer
src/bstat
src/bulkstat_unlink_test
src/bulkstat_unlink_test_modified
src/devzero
src/dirperf
src/dirstress
src/dmiperf
src/fault
src/feature
src/fill
src/fill2
src/fs_perms
src/fstest
src/ftrunc
src/genhashnames
src/getdevicesize
src/getpagesize
src/godown
src/holes
src/itrash
src/locktest
src/loggen
src/looptest
src/lstat64
src/makeextents
src/metaperf
src/mmapcat
src/multi_open_unlink
src/nametest
src/permname
src/preallo_rw_pattern_reader
src/preallo_rw_pattern_writer
src/randholes
src/rename
src/resvtest
src/runas
src/t_access_root
src/t_dir_offset
src/t_immutable
src/t_mtab
src/testx
src/trunc
src/truncfile
src/unwritten_mmap
src/unwritten_sync
src/usemem
src/writemod
src/xfsctl
