*.lo
*.o
*.la
.dep

autom4te.cache
configure
config.log
config.status
include/builddefs
include/config.h
include/config.h.in
lib/.libs

ltp/aio-stress
ltp/doio
ltp/fsstress
ltp/fsx
ltp/growfiles
ltp/iogen

src/alloc
src/append_reader
src/append_writer
src/bstat
src/bulkstat_unlink_test
src/bulkstat_unlink_test_modified
src/devzero
src/dirperf
src/dirstress
src/dmiperf
src/fault
src/feature
src/fill
src/fill2
src/fs_perms
src/fstest
src/ftrunc
src/genhashnames
src/getdevicesize
src/getpagesize
src/godown
src/holes
src/itrash
src/locktest
src/loggen
src/looptest
src/lstat64
src/makeextents
src/metaperf
src/mmapcat
src/multi_open_unlink
src/nametest
src/permname
src/preallo_rw_pattern_reader
src/preallo_rw_pattern_writer
src/randholes
src/rename
src/resvtest
src/runas
src/t_access_root
src/t_dir_offset
src/t_immutable
src/t_mtab
src/testx
src/trunc
src/truncfile
src/unwritten_mmap
src/unwritten_sync
src/usemem
src/writemod
src/xfsctl
src/aio-dio-regress/aio-dio-extend-stat
src/aio-dio-regress/aio-dio-invalidate-failure
src/aio-dio-regress/aio-dio-invalidate-readahead
src/aio-dio-regress/aio-dio-subblock-eof-read
src/aio-dio-regress/aio-free-ring-with-bogus-nr-pages
src/aio-dio-regress/aio-io-setup-with-nonwritable-context-pointer
