[btrfs_normal]
TEST_DIR=/mnt/test
TEST_DEV=/dev/vdb
SCRATCH_DEV_POOL="/dev/vdc /dev/vdd /dev/vde /dev/vdg /dev/vdh /dev/vdi /dev/vdj /dev/vdk"
SCRATCH_MNT=/mnt/scratch
LOGWRITES_DEV=/dev/vdl
MKFS_OPTIONS="-K"

[btrfs_compress]
TEST_DIR=/mnt/test
TEST_DEV=/dev/vdb
SCRATCH_DEV_POOL="/dev/vdc /dev/vdd /dev/vde /dev/vdg /dev/vdh /dev/vdi /dev/vdj /dev/vdk"
SCRATCH_MNT=/mnt/scratch
LOGWRITES_DEV=/dev/vdl
MKFS_OPTIONS="-K"
MOUNT_OPTIONS="-o compress"
RECREATE_TEST_DEV=true

[btrfs_holes_spacecache]
TEST_DIR=/mnt/test
TEST_DEV=/dev/vdb
SCRATCH_DEV_POOL="/dev/vdc /dev/vdd /dev/vde /dev/vdg /dev/vdh /dev/vdi /dev/vdj /dev/vdk"
SCRATCH_MNT=/mnt/scratch
LOGWRITES_DEV=/dev/vdl
MKFS_OPTIONS="-K -O ^no-holes,^free-space-tree"
RECREATE_TEST_DEV=true

[btrfs_holes_spacecache_compress]
TEST_DIR=/mnt/test
TEST_DEV=/dev/vdb
SCRATCH_DEV_POOL="/dev/vdc /dev/vdd /dev/vde /dev/vdg /dev/vdh /dev/vdi /dev/vdj /dev/vdk"
SCRATCH_MNT=/mnt/scratch
LOGWRITES_DEV=/dev/vdl
MKFS_OPTIONS="-K -O ^no-holes,^free-space-tree"
MOUNT_OPTIONS="-o compress"
RECREATE_TEST_DEV=true

[btrfs_block_group_tree]
TEST_DIR=/mnt/test
TEST_DEV=/dev/vdb
SCRATCH_DEV_POOL="/dev/vdc /dev/vdd /dev/vde /dev/vdg /dev/vdh /dev/vdi /dev/vdj /dev/vdk"
SCRATCH_MNT=/mnt/scratch
LOGWRITES_DEV=/dev/vdl
MKFS_OPTIONS="-K -O block-group-tree"
RECREATE_TEST_DEV=true

[btrfs_raid_stripe_tree]
TEST_DIR=/mnt/test
TEST_DEV=/dev/vdb
SCRATCH_DEV_POOL="/dev/vdc /dev/vdd /dev/vde /dev/vdg /dev/vdh /dev/vdi /dev/vdj /dev/vdk"
SCRATCH_MNT=/mnt/scratch
LOGWRITES_DEV=/dev/vdl
MKFS_OPTIONS="-K -O raid-stripe-tree"
RECREATE_TEST_DEV=true

[btrfs_squota]
TEST_DIR=/mnt/test
TEST_DEV=/dev/vdb
SCRATCH_DEV_POOL="/dev/vdc /dev/vdd /dev/vde /dev/vdg /dev/vdh /dev/vdi /dev/vdj /dev/vdk"
SCRATCH_MNT=/mnt/scratch
LOGWRITES_DEV=/dev/vdl
MKFS_OPTIONS="-K -O squota"
RECREATE_TEST_DEV=true
