# Ideally define at least these 4 to match your environment
# The first 2 are required.
# See README for other variables which can be set.
#
# Note: SCRATCH_DEV >will< get overwritten!

export TEST_DEV=/dev/sdX1
export TEST_DIR=/mnt/test
export SCRATCH_DEV=/dev/sdX2
export SCRATCH_MNT=/mnt/scratch
