# Example config file with all typical device options set for full
# XFS kernel, progs and dump testing.
MODULAR=0
SCRATCH_MNT=/mnt/scratch
SCRATCH_DEV=/dev/sdb5
SCRATCH_RTDEV=/dev/sdc1
SCRATCH_LOGDEV=/dev/ram0
TEST_DIR=/mnt/test
TEST_DEV=/dev/sdc3
TEST_RTDEV=/dev/sdb6
TEST_LOGDEV=/dev/ram1
TAPE_DEV=/dev/st0
RMT_TAPE_DEV=bruce:/dev/st0
RMT_IRIXTAPE_DEV=snort:/dev/tape
RMT_TAPE_USER=guest
